.character-sheet-container {
  background-color: white;
  width: 1200px;
  min-height: 500px;
  margin: auto;
  margin-bottom: 30px;
  padding: 50px;
  border-radius: 5px;  
}

.character-sheet-grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
  grid-auto-rows: 70px;
}