ul {
  margin: 0;
  padding: 0;
}

/* Style the navigation bar */
nav {
  background-color: #434b5a;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  cursor: pointer;
  padding: 10px 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-right: 1px solid gray;
}

nav ul li a:hover {
  background-color: #5d6679;
}

.selected-char {
  background-color: #5d6679;
}

.saved-characters-header {
  padding: 10px;
  color: white;
}

.new-character-button, .help-button {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.new-character-button > div, .help-button {
  box-sizing: border-box;
  color: white;
  padding: 0px 15px;
  font-size: 2.5em;
  font-family: monospace;
  overflow: hidden;
}

.new-character-button:hover, .help-button:hover {
  background-color: #5d6679
}

.saved-characters {
  display: flex;
}

.help-button-first-open {
  /* padding: 0px 25px; */
  animation: help-button-walkme 3s ease-out infinite;
  animation-delay: 3s;
}

@keyframes help-button-walkme {
  0% {
    background-color: #434b5a;
  }
  50% {
    background-color: #BB3023;
  }
  100% {
   background-color: #434b5a; 
  }
}

.instruction-text {
  margin: 10px 0;
  padding: 0;
}

.instruction-body {
  margin-top: 30px;
}

.instruction-body > h2 {
  margin: 0;
  color: rgb(43, 43, 43);
}