ul {
  margin: 0;
  padding: 0;
}

/* Style the navigation bar */
nav {
  background-color: #434b5a;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  display: inline-block;
  cursor: pointer;
  padding: 10px 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-right: 1px solid gray;
}

nav ul li a:hover {
  background-color: #5d6679;
}

.selected-char {
  background-color: #5d6679;
}

.saved-characters-header {
  padding: 10px;
  color: white;
}

.new-character-button {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.new-character-button > div {
  box-sizing: border-box;
  color: white;
  padding: 0px 10px;
  font-size: 2.5em;
  font-family: monospace;
  overflow: hidden;
}

.new-character-button:hover {
  background-color: #5d6679
}